body {
	background-size: 100%;
	background-repeat: no-repeat;
	background-color: #BEB6E0;
	margin: 0;
}

* {
	font-family: helvetica-light, helvetica, sans;
	box-sizing: border-box;
}

div.sections {
	height: 100%;
	width: 100%;
	border: 1px solid black;
}

.sections h1 {
	text-align: center;
}