* {
	font-family: helvetica-light, helvetica, sans;
	box-sizing: border-box;
	margin: 0;
}

html {
	height: 100%;
} 

body {
	/*background-size: 100%;*/
	height: 800%;
	background-repeat: no-repeat;
	margin: 0;
}

#backgroundCanvas {
	z-index: -1;
	position: absolute;
}

div.sections {
	height: 25%;
	width: 100%;
	position: relative;
}

.sections .panel {
	height: 100%;
	width: 100%;
	opacity: 0;
	position: absolute;
}

.sections h1 {
	text-align: center;
}

#titleBlock {
	height: 25%;
	width: 25%;
	color: white;
}

.centered {
	margin: auto;
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
}

.content {
	opacity: 0;
}