html {
	height: 100%;
} 

body {
	/*background-size: 100%;*/
	height: 800%;
	background-repeat: no-repeat;
	margin: 0;
}

#backgroundCanvas {
	z-index: -1;
	position: absolute;
}

* {
	font-family: helvetica-light, helvetica, sans;
	box-sizing: border-box;
}

div.sections {
	height: 25%;
	width: 100%;
	opacity: 0;
	position: relative;
}

.sections h1 {
	text-align: center;
}